# Airbnb Listings Analysis â€“ Data Overview

This notebook loads the raw Airbnb listings dataset and provides an initial 
overview of its structure, data types, and quality.

No transformations are applied at this stage.

In [9]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 100)

In [13]:
df = pd.read_csv("../data/raw/airbnb_listings.csv")

In [14]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,11156,An Oasis in the City,40855,Colleen,NaN,Sydney,-33.86767,151.22497,Private room,NaN,90,193,2020-03-13,1.01,1,364,0,NaN
1,15253,Unique Designer Rooftop Apartment in City Loca...,59850,Morag,NaN,Sydney,-33.87964,151.21680,Private room,NaN,1,632,2025-09-01,3.83,1,295,51,PID-STRA-24061-7
2,44545,Sunny Darlinghurst Warehouse Apartment,112237,Atari,NaN,Sydney,-33.87888,151.21439,Entire home/apt,NaN,2,85,2025-08-31,0.47,1,0,10,PID-STRA-74219
3,58506,"Studio Yindi @ Mosman, Sydney",279955,John,NaN,Mosman,-33.81748,151.23484,Entire home/apt,NaN,2,448,2025-08-31,2.50,1,138,29,PID-STRA-2810
4,68999,A little bit of Sydney - Australia,333581,Bryan,NaN,Hornsby,-33.72966,151.05226,Private room,NaN,1,120,2025-06-08,0.69,1,265,12,PID-STRA-9081

In [16]:
df.shape

(17730, 18)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17730 entries, 0 to 17729
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              17730 non-null  int64
 1   name                            17730 non-null  object
 2   host_id                         17730 non-null  int64
 3   host_name                       17728 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   17730 non-null  object
 6   latitude                        17730 non-null  float64
 7   longitude                       17730 non-null  float64
 8   room_type                       17730 non-null  object
 9   price                           0 non-null      float64
 10  minimum_nights                  17730 non-null  int64
 11  number_of_reviews               17730 non-null  int64
 12  last_review                     15020 non-null  object
 13  reviews_per_month               15020 non-null  float64
 14  calculated_host_listings_count  17730 non-null  int64
 15  availability_365                17730 non-null  int64
 16  number_of_reviews_ltm           17730 non-null  int64
 17  license                         16376 non-null  object
dtypes: float64(5), int64(7), object(6)
memory usage: 2.4+ MB

## Initial Observations

- The dataset contains approximately 17,700 listings.
- Several columns contains missing values, including: - `price` - `neighbourhood_group`
- Some columns may require type conversion (e.g. dates).
- Further data cleaning is required before analysis.

## Data Quality Assessment

This section documents data quality issues identified in the raw dataset and outlines the cleaning strateg that will be appllied in the next step.

### Column-Level Data Quality Issues

**1. neighbourhood_group**
- All values are missing
- Column cannot be used for analysis
- Decision: exclude from analysis

**2. price**
- All values are missing
- Pricing analysis is not possible
- Decision: exclude from analysis and clearly document limitation

**3. last_review**
- Contains missing values
- Missing values likely indicate listings with no reviews
-Decision: keep column, treat missing values as "no review"

** 4. reviews_per_month**
-Contains missing values
- likely correlated with missing `last_review`
- Decision: keep column, assess impact during analysis

** 5. license**
-Contains missing and non-missing values
-Potential indicator of regulatory compliance
-Decision: keep column for exploratory analysis

**6. Data types**
- `last_review` is stored as object
- Decision: convert to datetime during cleaning

In [19]:
df.isna().sum().sort_values(ascending=False)

price                             17730
neighbourhood_group               17730
last_review                        2710
reviews_per_month                  2710
license                            1354
host_name                             2
name                                  0
id                                    0
neighbourhood                         0
host_id                               0
room_type                             0
longitude                             0
latitude                              0
number_of_reviews                     0
minimum_nights                        0
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
dtype: int64

In [20]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,17730.0,NaN,NaN,NaN,767383960172668928.0,562521464412718592.0,11156.0,43835347.5,951595611489483264.0,1273615403635385856.0,1480493397212908800.0
name,17730,17269,Modern Elegance of Mascot Living,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
host_id,17730.0,NaN,NaN,NaN,211898350.693739,209422262.907644,35582.0,28262450.75,132288219.0,369908172.0,711457600.0
host_name,17728,3853,Ken,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood_group,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
neighbourhood,17730,38,Sydney,4190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
latitude,17730.0,NaN,NaN,NaN,-33.851333,0.089294,-34.09568,-33.896215,-33.875129,-33.80362,-33.38364
longitude,17730.0,NaN,NaN,NaN,151.175164,0.116042,150.63049,151.135117,151.205292,151.252835,151.34014
room_type,17730,4,Entire home/apt,14089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
price,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
minimum_nights,17730.0,NaN,NaN,NaN,18.269825,37.746521,1.0,2.0,2.0,7.0,999.0
number_of_reviews,17730.0,NaN,NaN,NaN,39.13683,72.415637,0.0,2.0,12.0,44.0,1253.0
last_review,15020,1383,2025-08-31,576,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reviews_per_month,15020.0,NaN,NaN,NaN,1.423025,1.444041,0.01,0.35,1.0,2.02,16.89
calculated_host_listings_count,17730.0,NaN,NaN,NaN,18.395939,35.618001,1.0,1.0,2.0,18.0,183.0
availability_365,17730.0,NaN,NaN,NaN,171.959447,122.857864,0.0,64.0,163.0,280.0,365.0
number_of_reviews_ltm,17730.0,NaN,NaN,NaN,11.173322,15.546905,0.0,0.0,5.0,16.0,159.0
license,16376,10953,Exempt,3218,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df.nunique().sort_values()

neighbourhood_group                   0
price                                 0
room_type                             4
neighbourhood                        38
calculated_host_listings_count       65
minimum_nights                       81
number_of_reviews_ltm               121
availability_365                    366
number_of_reviews                   470
reviews_per_month                   742
last_review                        1383
host_name                          3853
host_id                            8911
license                           10953
latitude                          14716
longitude                         14920
name                              17269
id                                17730
dtype: int64

## Cleaning Strategy Summary

Based on the data quality assessment, the following steps will be applied 
in the data cleaning phase:

- Drop columns with 100% missing values
- Convert date columns to appropriate datetime formats
- Preserve missing values where they carry business meaning
- Avoid imputing values without domain justification
- Document all transformations clearly

No records will be removed unless justified by data integrity issues.